#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

label {
  color: darkcyan;
  margin-bottom: 0.25em;
}

input {
  border: 1px solid #ccc;
  color: #888;
  border-radius: 0.25em;
  padding: 0.2em 0.4em;
  width: 100%;
  margin: 0;
  font-size: 1.2em;
  font-weight: 200;
  font-family: inherit;
}

input:focus {
  outline: 2px solid lightseagreen;
}

input:required {
  border-left: 4px solid #888;
}

.error {
  font-size: 0.8em;
  color: red;
  margin-top: 0.5em;
}
